
body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 100vh;
}
header {
	display: flex;
	flex-direction: row;
	background-color: lightgray;
	height: 50px;
}
.red-turn {
	display: none;
	align-items: center;
	justify-content: center;
	background-color: red;
	height: 20%;
	width: 20%;
	top: 5%;
	left: 2%;
	position: absolute;
}
.blue-turn {
	display: none;
	align-items: center;
	justify-content: center;
	background-color: blue;
	height: 20%;
	width: 20%;
	top: 5%;
	right: 2%;
	position: absolute;
}
.grid-container {
	display: grid;
	grid-template-columns: 180px 180px 180px;
	grid-template-rows: 180px 180px 180px;
	justify-content: center;
	margin: 40px;
}
.square {
	height: 180px;
	width: 180px;
	border: 2px solid black;
}
#grid0 {
	border: 0;
}
#grid1 {
	border-top: 0;
}
#grid2 {
	border-top: 0;
	border-right: 0;
}
#grid3 {
	border-left: 0;
}
#grid5 {
	border-right: 0;
}
#grid6 {
	border-left: 0;
	border-bottom: 0;
}
#grid7 {
	border-bottom: 0;
}
#grid8 {
	border-right: 0;
	border-bottom: 0;
}
.display-winner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	color: black;
	width: 30%;
	height: 30%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 2px solid gray;
	border-radius: 10px;
}
.button {
	border: 2px dotted black;
	cursor: pointer;
	padding: 10px;
	border-radius: 20px;
}
.button:hover {
	background-color: lightgray;
	transition-duration: 2s;
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	height: 10%;
}
.reset {
	cursor: pointer;
}

