
body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: row;

	background-color: lightgray;
	height: 50px;
}

.red-turn {
	display: none;
	align-items: center;
	background-color: red;
	height: 100%;
	left: 0;
	position: fixed;
}

.blue-turn {
	display: none;
	align-items: center;
	background-color: blue;
	right: 0;
	height: 100%;
	position: fixed;

}



.grid-container {
	display: grid;
	grid-template-columns: 180px 180px 180px;
	grid-template-rows: 180px 180px 180px;
	justify-content: center;
	margin: 40px;
}
.square {
	height: 180px;
	width: 180px;
	border: 2px solid black;
}
#grid0 {
	border: 0;
}
#grid1 {
	border-top: 0;
}
#grid2 {
	border-top: 0;
	border-right: 0;
}
#grid3 {
	border-left: 0;
}
#grid5 {
	border-right: 0;
}
#grid6 {
	border-left: 0;
	border-bottom: 0;
}
#grid7 {
	border-bottom: 0;
}
#grid8 {
	border-right: 0;
	border-bottom: 0;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	height: 30px;
}






.display-winner {
	display: none;
	position: absolute;
	color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 2px solid gray;
	border-radius: 10px;
}






























